.custom {
    position: fixed;
    bottom: 0;
    right: 25px;
    z-index: 1;
    border: 1px solid rgb(158, 175, 175);
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-radius: 16px;
}