.custom {
    position: fixed;
    bottom: 0;
    right: 25px;
    z-index: 1;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
    color: white;
  }

  ::ng-deep .mat-expansion-indicator::after {
    transform: rotate(225deg) !important;  
}