.preview-instagram-photo{
    position: relative;
    border: 1px solid #F3F6F9;
}

.preview-instagram-photo .preview-content .user-info{
    padding: 10px 20px;
}

.preview-instagram-photo .preview-content .user-info img{
    width: 40px;
    margin-right: 5px;
    object-fit: cover;
    border-radius: 5px;
}

.preview-instagram-photo .preview-content .preview-media{
    height: 368px;
    background-size: cover;
    background-position: center center;
    background-color: #F3F6F9;
    overflow: hidden;
    position: relative;
}
.preview-instagram-photo .preview-content .preview-media-view{
    // height: 368px;
    background-size: cover;
    background-position: center center;
    background-color: #F3F6F9;
    overflow: hidden;
    position: relative;
}

.preview-instagram-photo .preview-content .preview-media .item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.5s;
    height: 100%;
}

.preview-instagram-photo video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preview-instagram-photo .preview-content .post-info,.preview-instagram-photo .preview-content .caption{
    padding: 10px 20px;
    word-break: break-all;
}
.preview-instagram-photo .preview-content .post-info,.preview-instagram-photo .preview-content .caption-view{
    padding: 10px 6px;
    word-break: break-all;
}

.preview-instagram-photo .preview-content .post-info img,.preview-instagram-photo .preview-content .caption img{
    width: 15px;
    position: relative;
    top: -2px;
}


.preview-instagram-photo .preview-content .line-no-text{
    margin-bottom: 3px;
    height: 13px;
    background: #F3F6F9;
}

.preview-instagram-photo .preview-content .preview-comment{
    position: relative;
    border-top: 1px solid #eee;
    padding: 15px 15px;
    color: #999;
}

.preview-instagram-photo .preview-content .preview-comment-upper{
    position: relative;
    border-top: 1px solid #eee;
    padding: 15px 15px;
    color: #999;
  
}

.preview-instagram-photo .preview-content .preview-comment .icon-3dot {
    width: 23px;
    height: 5px;
    position: absolute;
    right: 20px;
    top: 22px;
}



.image-upload > input
{
    display: none;
}

.pl-0{
    padding-top: 25px !important;
    padding-left: 5px !important;
}

@media (min-width: 992px)
{
.footer-fixed .content {
    padding-bottom: 0px; 
}
}
.custom-scrollbar-css {
    height: 200px;
  }
  /* Custom Scrollbar using CSS */
  .custom-scrollbar-css {
    overflow-y: scroll;
  }
  /* scrollbar width */
  .custom-scrollbar-css::-webkit-scrollbar {
    width: 7px;
  }
  /* scrollbar track */
  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
  }
  /* scrollbar handle */
  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #34ABC5;
    background-image: linear-gradient(to top, #949494 0%, #1E1E2D 100%);
  }

  @media screen 
 
  and (max-width: 1600px) 
  {
     
    .card.card-custom > .card-body {
        padding: 0rem !important;
    }
    
  .btn{
      font-size: 10px;
  }
  
    
  .card-body{
    padding: 5px
  }
  
  .preview-instagram .preview-comment .item {
      float: left;
      margin-right: 16px;
      font-weight: 500;
      font-size: 9px;
  }
  .font-size-lg{
    font-size: 12px !important;
}
.cus-form{
    width: 212% !important
}
  }

  ::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
//   background-color: #FCE500;
  font-weight: 500;
  color: black;
  opacity: 1;
}
::ng-deep .mat-tab-label{
    min-width: 40px !important;
    padding: 0px 8px !important;
 }

 .card.card-custom > .card-body {
    padding: 30px 0px 0px 0px;
}

.cus-form{
    width: 220%;
}

.img-circle {
    height: 44px; 
    width: 44px; 
    object-fit: cover; 
    border-radius: 50px;
}

.insta {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    color: #F14D5A; width: fit-content;
    padding: 1rem 2rem;  -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #F3F6F9 ;
}