.btn.btn-secondary:not(:disabled):not(.disabled):active:not(.btn-text), .btn.btn-secondary:not(:disabled):not(.disabled).active, .show > .btn.btn-secondary.dropdown-toggle, .show .btn.btn-secondary.btn-dropdown {
    color: #3F4254;
    background-color: #b1bffd;
    border-color: #d7dae7;
}