<app-spinner></app-spinner>
<div class="row">
    <div class="col-lg-3">
        <div class="card card-custom card-stretch">
            <div class="card-header" style="background-color: #1e1e2d;">
                <div class="card-title">
                    <h3 class="card-label">
                    <span class="svg-icon svg-icon-primary svg-icon-2x">
                        <img src="../../../assets/media/custom/profile.svg"/>
                    </span>
                    <span class="nav-text text-white"> &nbsp; Add accounts</span>
                 </h3>
                </div>
            </div>
            <div class="card-body">
                <!--Facebook button-->
                <div id="signInFB" (click)="signInWithFB();" class="btn btn-icon btn-light w-auto btn-clean d-inline-flex btn-lg px-2 mr-5">
                    <span class="symbol symbol-35 symbol-light-primary">
                        <span class="symbol-label font-size-h5 font-weight-bold"><a  class="btn btn-icon btn-sm btn-facebook">
                            <i class="socicon-facebook"></i>
                        </a></span>
                    </span>
                    <span class="text-dark-50 font-weight-bolder font-size-base ml-3" style="text-align: -webkit-left;"> Add facebook profile</span>
                    
                </div>
                <hr>

                 <!--Insta button-->
                <div (click) = showIGLoginPopup() class="btn btn-icon btn-light w-auto btn-clean d-inline-flex btn-lg px-2 mr-5">
                    <span class="symbol symbol-35 symbol-light-primary">
                        <span class="symbol-label font-size-h5 font-weight-bold"><a  class="btn btn-icon btn-sm btn-instagram">
                            <i class="socicon-instagram"></i>
                        </a></span>
                    </span>
                    <span class="text-dark-50 font-weight-bolder font-size-base ml-3" style="text-align: -webkit-left;"> Add Instagram profile</span>
                </div>
                <hr>
            
                <div (click) = "Club()" class="btn btn-icon btn-light w-auto btn-clean d-inline-flex  btn-lg px-2 mr-5">
                    <span class="symbol symbol-35 symbol-light-primary">
                        <span class="symbol-label font-size-h5 font-weight-bold"><a  class="btn btn-icon btn-sm" >
                            <i class="svg-icon menu-icon icon-2x "><span><img style="height: 100%; width: 100%; border-radius: 6px;" [src]="clubLogo" alt=""></span></i>
                        </a></span>
                    </span>
                    <span class="text-dark-50 font-weight-bolder font-size-base ml-3" style="text-align: -webkit-left;">{{clubName}}</span>
                </div>
                <hr>
                <a (click)="unLinkFacebookAccount($event)" class="btn btn-light-danger">
                    <i class="flaticon-logout"></i> Remove Account
                </a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-9">
        <div class="card card-custom card-stretch">
            <div class="card-header" style="background-color: #1e1e2d;">
                <div class="card-title">
                    <h3 class="card-label">
                        <span class="svg-icon svg-icon-primary svg-icon-2x">
                            <img src="../../../assets/media/custom/add-profiles.svg"/>
                        </span>
                    <span class="nav-text" style="color: #fff;"> &nbsp; Profiles</span>
                </h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">

                    <!--Facebook-->
                    <div class="col-lg-4">
                        <div class="card" style="height: 442px;">
                            <div class="card-header">
                             <div class="card-title">
                              <h5 class="card-label">
                                <i class="socicon-facebook text-primary mr-5"></i>Facebook Profile</h5>
                             </div>
                            </div>
                            <div class="card-body">
                                <div class="card-custom">
                                    <div class="card-body pt-15">
                                        <div class="text-center mb-10">
                                            <div class="symbol symbol-60 symbol-circle symbol-xl-90">
                                                <div *ngIf="!userFBprofile.fbProfileImageUrl" class="symbol-label"><span><img class="symbol-label" src="../../../assets/media/users/mockfbImage.png" style="object-fit: cover;" alt=""></span></div>
                                                <div *ngIf="userFBprofile.fbProfileImageUrl" class="symbol-label"><span><img class="symbol-label" [src] = "userFBprofile.fbProfileImageUrl"  style="object-fit: cover;" alt=""></span></div>
                                                <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                            </div>
                                            <div class="text-muted mb-2">{{userFBprofile.fbUserName}}</div>
                                            <span class="label label-light-primary label-inline font-weight-bold label-lg">Facebook</span>
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>
                           </div>
                    </div>

                    <!--INSTA-->
                    <div class="col-lg-4">
                        <div class="card" style="height: 442px;">
                            <div class="card-header">
                             <div class="card-title">
                              <h5 class="card-label">
                                <i class="socicon-instagram mr-5" style="color: #d62976;"></i>Instagram Profile</h5>
                             </div>
                            </div>
                            <div class="card-body">
                                <div class="card-custom">
                                    <div class="card-body pt-15">
                                        <div class="text-center mb-10">
                                            <div class="symbol symbol-60 symbol-circle symbol-xl-90">
                                                <div *ngIf="!userFBprofile.fbProfileImageUrl" class="symbol-label"><span><img class="symbol-label" src="../../../assets/media/users/mockfbImage.png" style="object-fit: cover;" alt=""></span></div>
                                                <div *ngIf="userFBprofile.fbProfileImageUrl" class="symbol-label"><span><img class="symbol-label" [src] = "userFBprofile.fbProfileImageUrl"  style="object-fit: cover;" alt=""></span></div>
                                                <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                            </div>
                                            <div class="text-muted mb-2">{{userFBprofile.fbUserName}}</div>
                                            <span class="label label-light-primary label-inline font-weight-bold label-lg">Instagram</span>
                                        </div>
                                        <!-- <a diabled (click) = "signOutFB()" class="btn btn-light-primary btn-hover-primary font-weight-bold py-3 px-6 mb-2 text-center btn-block ">Sign Out</a> -->
                                    </div>
                                </div>
                            </div>
                           </div>
                    </div>

                    <!--CLUB-->
                    <div class="col-lg-4">
                        <div class="card " style="height: 442px;">
                            <div class="card-header">
                             <div class="card-title">
                              <h5 class="card-label">
                                <span><img style="height: 100%; width: 20px; border-radius: 5px;" [src]="clubLogo" alt=""></span>&nbsp;{{clubName}}
                            </h5>
                             </div>
                            </div>
                            <div class="card-body">
                                <div class="card-custom">
                                    <div class="card-body pt-15">
                                        <div class="text-center mb-10">
                                            <div class="symbol symbol-60 symbol-circle symbol-xl-90">
                                                <div class="symbol-label"><span>
                                                    <img class="symbol-label" [src]="userClubProfile.clubProfileImageURL" style="object-fit: cover;" alt=""></span></div>
                                                <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                            </div>
                                            <div class="text-muted mb-2">{{userClubProfile.clubUsername}}</div>
                                            <span class="label label-inline font-weight-bold label-lg">{{clubName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



