<!--begin::Signin-->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-spin" [fullScreen]="true">
  <p style="color: white">Please wait..</p>
</ngx-spinner>

<div class="login-form login-signin">
  <h2 class="font-weight-bolder  font-size-h2" style="color: #000000; letter-spacing: 1px;">
    Sign In
  </h2>


  <div class="example-preview">
    <div>
      <ng-template #content6 let-c="close" let-d="dismiss">
        <div class="modal-header d-flex justify-content-between"
          style="background-color: #1e1e2d; padding-bottom: 10px;">

          <form>
            <div class="form-group d-flex flex-row" style="float: left;">
              <label for="exampleInputEmail1" class=" font-size-h2" style="color: #fff;">Select club</label>

            </div>

            <div class="form-group d-flex flex-row-reverse responsive">
              <button type="button" class="btn" (click)="c('Close click');searchStarted = false;  "
                data-toggle="tooltip" title="close window">
                <i class="ki ki-bold-close icon-sm" style="color:rgba(255, 255, 255, 0.877)"></i>
              </button>
              <!-- <button type="button" class="btn-close btn-close-white" aria-label="Close"></button> -->

              <input class="form-control bg-primary-o-30" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="searchString" (ngModelChange)="searchClub($event)" style="color: #fff;"
                id="exampleInputEmail1" placeholder="search">
            </div>
          </form>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click') ; searchStarted = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex justify-content-center">

          <perfect-scrollbar class="media" style="height: 600px">

            <div *ngIf="noClubFound" class="custom-height d-flex align-items-center justify-content-center"
              style="width: 100% ">
              <div class="d-flex flex-column-auto flex-column ">
                <a class="text-center">
                  <img src="./assets/media/bg/app________app____.jpg" alt="" />
                </a>
                <h3 class="text-center">
                  No record found
                </h3>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4 g-4" id="items" style="cursor: pointer;">
              <div class="col" *ngFor="let club of allClubs" id="items">
                <div class="card resp-card" (click)="onClubSelected(club) ">
                  <img src="{{club.logoURL}} "
                    class="rounded mx-auto d-block card-img-top size d-flex justify-content-center" alt="...">

                  <ul class="list-group list-group-flush" style="width: 100%;">
                    <li
                      class="list-group-item d-flex justify-content-center font-weight-bold text-center " style="margin:auto;">
                      {{club.clubName}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </perfect-scrollbar>
        
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-secondary"
          (click)="showPreviousClubs();searchStarted = false">Back</button>

          <button type="button" class="btn btn-danger"
            (click)="c('Close click');searchStarted = false">Close</button>
            
         

          <!-- <button type="button" class="btn" style="background-color: #1e1e2d; color: #fff;">Save changes</button> -->
        </div>
      </ng-template>

      <div class="btn btn-icon btn-light w-auto btn-clean d-inline-flex align-items-center btn-lg px-2 mr-5"
        (click)="openVerticallyCentered(content6)" data-toggle="tooltip" title="select club before login"
        style="background-color: #1e1e2d;">
        <span class="svg-icon svg-icon-primary svg-icon-2x">
          <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Design/Select.svg--><svg
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
            viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24" />
              <path
                d="M18.5,8 C17.1192881,8 16,6.88071187 16,5.5 C16,4.11928813 17.1192881,3 18.5,3 C19.8807119,3 21,4.11928813 21,5.5 C21,6.88071187 19.8807119,8 18.5,8 Z M18.5,21 C17.1192881,21 16,19.8807119 16,18.5 C16,17.1192881 17.1192881,16 18.5,16 C19.8807119,16 21,17.1192881 21,18.5 C21,19.8807119 19.8807119,21 18.5,21 Z M5.5,21 C4.11928813,21 3,19.8807119 3,18.5 C3,17.1192881 4.11928813,16 5.5,16 C6.88071187,16 8,17.1192881 8,18.5 C8,19.8807119 6.88071187,21 5.5,21 Z"
                fill="#000000" opacity="0.3" />
              <path
                d="M5.5,8 C4.11928813,8 3,6.88071187 3,5.5 C3,4.11928813 4.11928813,3 5.5,3 C6.88071187,3 8,4.11928813 8,5.5 C8,6.88071187 6.88071187,8 5.5,8 Z M11,4 L13,4 C13.5522847,4 14,4.44771525 14,5 C14,5.55228475 13.5522847,6 13,6 L11,6 C10.4477153,6 10,5.55228475 10,5 C10,4.44771525 10.4477153,4 11,4 Z M11,18 L13,18 C13.5522847,18 14,18.4477153 14,19 C14,19.5522847 13.5522847,20 13,20 L11,20 C10.4477153,20 10,19.5522847 10,19 C10,18.4477153 10.4477153,18 11,18 Z M5,10 C5.55228475,10 6,10.4477153 6,11 L6,13 C6,13.5522847 5.55228475,14 5,14 C4.44771525,14 4,13.5522847 4,13 L4,11 C4,10.4477153 4.44771525,10 5,10 Z M19,10 C19.5522847,10 20,10.4477153 20,11 L20,13 C20,13.5522847 19.5522847,14 19,14 C18.4477153,14 18,13.5522847 18,13 L18,11 C18,10.4477153 18.4477153,10 19,10 Z"
                fill="#000000" />
            </g>
          </svg>
          <!--end::Svg Icon-->
        </span>
        <span class="text-light font-weight-bolder font-size-base mr-3">&nbsp;&nbsp;Select club</span>

      </div>
    </div>
  </div>




  <!--begin::Form-->

  <form class="form" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
    (ngSubmit)="loginByEmail()">
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">

    </div>

    <ng-container *ngIf="hasError">
      <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
        <div class="alert-text">The login details are incorrect</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->

    <div class="alert alert-custom alert-white shadow-sm fade show" role="alert" *ngIf="selectedClub">
      <div class="alert-icon"><img src="{{selectedClub.logoURL}}" class="rounded mx-auto d-block card-img-top"
          style="width: 70px; height: 70px; object-fit: cover;" alt="..."></div>

      <div class="alert-text">
        <h3><small>Selected club:&nbsp; </small> {{selectedClub.clubName}}</h3>
      </div>

    </div>


    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
      <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="email" name="email"
        formControlName="email" autocomplete="off" [ngClass]="{ 'is-in valid': loginForm.controls['email'].invalid }"
        placeholder="e.g johndoe@gmail.com" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Email is required',
          control: loginForm.controls['email']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'email',
          message: 'Email is invalid',
          control: loginForm.controls['email']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: 'Email should have at least 3 symbols',
          control: loginForm.controls['email']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Email should have maximum 360 symbols',
          control: loginForm.controls['email']
        }"></ng-container>
    </div>

    <div class="form-group">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">Password</label>

      </div>

      <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="password" name="password"
        autocomplete="off" formControlName="password"
        [ngClass]="{ 'is-in valid': loginForm.controls['password'].invalid }"
        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Password is required',
          control: loginForm.controls['password']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Password should contain at least 8 characters',
          control: loginForm.controls['password']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Password should have maximum 100 symbols',
          control: loginForm.controls['password']
        }"></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Action-->
    <div class="pb-lg-0 pb-5">
      <button type="submit" id="kt_login_signin_submit" class="btn font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
        [disabled]="loginForm.invalid" style="background-color: #1e1e2d; color: #fff;">
        Sign In
      </button>



      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Action-->
  </form>
  <!--end::Form-->
</div>
<!--end::Signin-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>