<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > D I V I D I S </p></ngx-spinner>




    <div class="box" style="height: 100%; margin: 0 auto;">

    
<div class="wrapper">
  <h1>coming soon<span class="dot">.</span></h1>
  <p class="font-size-h3">
    We're waiting for approval from <span><b class="font-size-h1" style="color: #3b5998;   font-family: 'Poppins', sans-serif;
      margin-bottom: 0;
      line-height: 1;
      font-weight: 700;">Facebook.</b></span>
  </p>
  <img src="../../../assets/media/bg/undraw.png" class="resp" alt="">
  <p class="font-size-h3">
 
    This feature will be live as soon as we got approval.
  </p>
  <div class="icons">
<!--    
    <a href=""><i class="fa fa-paper-plane"></i></a> -->
  </div>
 </div>

  </div> 

