<!--begin::Quick Panel-->
<div
  id="kt_quick_panel"
  class="offcanvas pt-5 pb-10"
  [ngClass]="extrasQuickPanelOffcanvasDirectionCSSClass"
>
  <!--begin::Header-->
  <div
    class="offcanvas-header offcanvas-header-navs d-flex align-items-center justify-content-between mb-5"
  >
    <ul
      class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-primary flex-grow-1 px-10"
      role="tablist"
    >
      

      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          data-toggle="tab"
          [ngClass]="getActiveCSSClasses('kt_quick_panel_notifications')"
          (click)="setActiveTabId('kt_quick_panel_notifications')"
          >Notifications</a
        >
      </li>
     
    </ul>
  
    <div class="offcanvas-close mt-n1 pr-5">
      <a
        href="#"
        class="btn btn-xs btn-icon btn-light btn-hover-primary"
        id="kt_quick_panel_close"
      >
        <i class="ki ki-close icon-xs text-muted"></i>
      </a>
    </div>
  </div>

  <!--end::Header-->

  <!--begin::Content-->
  <div class="offcanvas-content px-10">
    <div class="tab-content">
      <!--begin::Tabpane-->
      
      <!--end::Tabpane-->

      <!--begin::Tabpane-->
      <div
        class="tab-pane fade pt-2 pr-5 mr-n5"
        id="kt_quick_panel_notifications"
        [ngClass]="getActiveCSSClasses('kt_quick_panel_notifications')"
        role="tabpanel" style="padding: 60px;"
      >
        <!--begin::Nav-->
        <ng-container *ngFor="let report of latestReports" style="padding: 50px" >
          <div class="timeline timeline-6 mt-3">
             <!--begin::Item-->
             <div class="timeline-item align-items-start">
                <!--begin::Label-->
                <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">{{report.time}}</div>
                <!--end::Label-->
                <!--begin::Badge-->
                <div class="timeline-badge">
                   <i *ngIf="report.successStatus == 0" class="fa fa-genderless text-danger icon-xl"></i>

                   <i *ngIf="report.successStatus == 1" class="fa fa-genderless text-success icon-xl"></i>

                   <i *ngIf="report.successStatus == 2" class="fa fa-genderless text-info icon-xl"></i>

                </div>
                <!--end::Badge-->
                <!--begin::Text-->
                <div *ngIf="report.successStatus == 0" class="font-weight-mormal font-size-lg timeline-content text-bold pl-5">Your<strong> {{report.postedTo}}  </strong>post was <span class="text-danger font-weight-bolder">failed</span>  </div>
                <div *ngIf="report.successStatus == 1"  class="font-weight-mormal font-size-lg timeline-content text-bold pl-5">Your<strong> {{report.postedTo}}  </strong>post was <span class="text-success font-weight-bolder">succeed</span> </div>
                <div *ngIf="report.successStatus == 2" class="font-weight-mormal font-size-lg timeline-content text-bold pl-5">Your<strong> {{report.postedTo}}  </strong>post was <span class="text-info font-weight-bolder">pending</span></div>

                
                <!--end::Text-->
             </div>
             <!--end::Item-->
             <!--begin::Item-->
            
             <!--end::Item-->
          </div>
       </ng-container>
        <!--end::Nav-->
      </div>
      <!--end::Tabpane-->

      <!--begin::Tabpane-->
     
      <!--end::Tabpane-->
    </div>
  </div>
  <!--end::Content-->
</div>
<!--end::Quick Panel-->
