
<div class="row">
    <div class="col-lg-3">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <div class="card-header" style="background-color: #1e1e2d;">
                <div class="card-title">
                    <h3 class="card-label">
                        <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-06-223557/theme/html/demo1/dist/../src/media/svg/icons/Communication/Add-user.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24"/>
                                <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                            </g>
                        </svg><!--end::Svg Icon--></span>
                      <span class="nav-text" style="color: #fff;"> &nbsp; Add accounts</span>
                    
                    </h3>
                </div>
            </div>
            <div class="card-body">

                <div  class="btn btn-icon btn-light w-auto btn-clean d-inline-flex  btn-lg px-2 mr-5">
                    <span class="symbol symbol-35 symbol-light-primary">
                        <span class="symbol-label font-size-h5 font-weight-bold"><a  class="btn btn-icon btn-sm" >
                            <i class="svg-icon menu-icon icon-2x "><span><img style="height: 100%; width: 100%;" [src]="clubLogo" alt=""></span></i>
                        </a></span>
                    </span>
                    <span class="text-dark-50 font-weight-bolder font-size-base ml-3">{{clubName}}</span>
                    
                </div>
                <hr>
                
                <!--Facebook button-->
                <div id="signInFB"  class="btn btn-icon btn-light w-auto btn-clean d-inline-flex  btn-lg px-2 mr-5">
                    <span class="symbol symbol-35 symbol-light-primary">
                        <span class="symbol-label font-size-h5 font-weight-bold"><a  class="btn btn-icon btn-sm btn-facebook">
                            <i class="socicon-facebook"></i>
                        </a></span>
                    </span>
                    <span class="text-dark-50 font-weight-bolder font-size-base ml-3"> Add facebook profile</span>
                    
                </div>
                <hr>

                 <!--Insta button-->
                <div  class="btn btn-icon btn-light w-auto btn-clean d-inline-flex btn-lg px-2 mr-5">
                    <span class="symbol symbol-35 symbol-light-primary">
                        <span class="symbol-label font-size-h5 font-weight-bold"><a  class="btn btn-icon btn-sm btn-instagram">
                            <i class="socicon-instagram"></i>
                        </a></span>
                    </span>
                    <span class="text-dark-50 font-weight-bolder font-size-base ml-3"> Add Instagram profile</span>
                   
                </div>
              
                
            </div>
        </div>
        <!--end::Card-->
    </div>

    



    <div class="col-lg-9">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <div class="card-header" style="background-color: #1e1e2d;">
                <div class="card-title">
                    <h3 class="card-label">
                        <span class="svg-icon svg-icon-primary svg-icon-2x">
                            <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-06-223557/theme/html/demo1/dist/../src/media/svg/icons/Layout/Layout-4-blocks.svg--><svg
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                                    <path
                                        d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                                        fill="#000000" opacity="0.3" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                        <span class="nav-text" style="color: #fff;"> &nbsp; Preview</span>

                    </h3>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group mat-align-tabs="center">

                    <mat-tab label="Third">
                        <ng-template mat-tab-label>
                            <mat-icon><img class="rounded" style="height: auto; width: 32px; margin-left: -4px;"
                                    [src]="clubLogo" alt=""></mat-icon>
        
                        </ng-template>
                    
                        <div class="border rounded p-6 m-6">
                            <div class="preview-facebook preview-facebook-media item-post-type"
                            data-type="photo" >
                            <div class="user-info" style="z-index: 1;">
                                <img class="img-circle" style="height: 44px; object-fit: cover; border-radius: 30px;"
                                    [src]="clubLogo">
                                <div class="text" >
                                    <div class="name"> Shaeel</div>
                                    <span> Just now 
                                        <!-- <i class="fa fa-globe"
                                            aria-hidden="true"></i> -->
                                    </span>
                                </div>
                            </div>
                           
                            <div class="preview-media" data-max-image="5" style="margin-top: -20px"><img [src]="clubLogo"  style="height: 100%; width: 100%; object-fit: cover; "></div>
                            <div class="caption">
                                <div >dummy caption</div>
                                <!-- <div class="line-no-text" *ngIf="!teamtalkerCaption">{{teamtalkerCaption}}</div>
                                <div class="line-no-text" *ngIf="!teamtalkerCaption"></div>
                                <div class="line-no-text" *ngIf="!teamtalkerCaption"></div> -->
                            </div>
                           
                          
                            <div class="preview-club">
                                 <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight"> 
                                        <div class="row">
                                        <div class="col item">
                                            <div class=" symbol-group symbol-hover">
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_14.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_6.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_11.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/300_17.jpg"/>
                                                </div>
                                                
                                              
                                                <span class="symbol-label">5 Likes</span>
                                            </div>
                                            
                                        </div>
                                      
                                      
                                    </div>
                                </div>
                            </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight">5 Comments</div>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight">3 Shares</div>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-comment">
                                <div class="row">
                                    <div class="col-12 item">
                                      <i class="far fa-heart mr-2" style="color: black;"></i>Like  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="far fa-comment-dots mr-2" style="color: black;"></i>Comment &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="fas fa-share mr-2" style="color: black;" ></i>Share
                                    </div>
                                    <div class="col item">
                                        <!-- <i class="fas fa-comments"></i> &nbsp;Comment -->
                                    </div>
                                    <div class="col item">
                                        <!-- <i class="fas fa-share" aria-hidden="true"></i> &nbsp;Share -->
                                    </div>
                                </div>
                            </div>
</div>
                        </div>

                        <div class="border rounded p-6 m-6">
                            <div class="preview-facebook preview-facebook-text item-post-type"
                            data-type="text" >
                            <div class="user-info">
                                <img class="img-circle" style="height: 44px; object-fit: cover; border-radius: 30px;"
                                    [src]="clubLogo">
                                <div class="text">
                                    <div class="name">Anonymus</div>
                                    <span> Just now 
                                        
                                    </span>
                                </div>
                            </div>
                            <div class="caption">
                                <div >Hey jerry how are you?</div>
                                <div class="line-no-text" ></div>
                                <div class="line-no-text" ></div>
                                <div class="line-no-text" ></div>
                            </div>
    
                            <div class="preview-club">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight"> 
                                        <div class="row">
                                        <div class="col item">
                                            <div class=" symbol-group symbol-hover">
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_14.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_6.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_11.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/300_17.jpg"/>
                                                </div>
                                                
                                              
                                                <span class="symbol-label">5 Likes</span>
                                            </div>
                                            
                                        </div>
                                      
                                      
                                    </div>
                                </div>
                            </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight">5 Comments</div>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight">3 Shares</div>
                                    </div>
                                </div>
                            </div>
                             <div class="preview-comment">
                                <div class="row">
                                    <div class="col-12 item">
                                      <i class="far fa-heart mr-2" style="color: black;"></i>Like  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="far fa-comment-dots mr-2" style="color: black;"></i>Comment &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="fas fa-share mr-2" style="color: black;" ></i>Share
                                    </div>
                                    <div class="col item">
                                        <!-- <i class="fas fa-comments"></i> &nbsp;Comment -->
                                    </div>
                                    <div class="col item">
                                        <!-- <i class="fas fa-share" aria-hidden="true"></i> &nbsp;Share -->
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="border rounded p-6 m-6">
                            <div class="preview-facebook preview-facebook-media item-post-type"
                            data-type="photo" >
                            <div class="user-info" style="z-index: 1;">
                                <img class="img-circle" style="height: 44px; object-fit: cover; border-radius: 30px;"
                                    [src]="clubLogo">
                                <div class="text" >
                                    <div class="name"> Shaeel</div>
                                    <span> Just now 
                                        <!-- <i class="fa fa-globe"
                                            aria-hidden="true"></i> -->
                                    </span>
                                </div>
                            </div>
                           
                            <div class="preview-media" data-max-image="5" style="margin-top: -20px"><img [src]="clubLogo"  style="height: 100%; width: 100%; object-fit: cover; "></div>
                            <div class="caption">
                                <div >dummy caption</div>
                                <!-- <div class="line-no-text" *ngIf="!teamtalkerCaption">{{teamtalkerCaption}}</div>
                                <div class="line-no-text" *ngIf="!teamtalkerCaption"></div>
                                <div class="line-no-text" *ngIf="!teamtalkerCaption"></div> -->
                            </div>
                           
                          
                            <div class="preview-club">
                                 <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight"> 
                                        <div class="row">
                                        <div class="col item">
                                            <div class=" symbol-group symbol-hover">
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_14.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_6.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_11.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/300_17.jpg"/>
                                                </div>
                                                
                                              
                                                <span class="symbol-label">5 Likes</span>
                                            </div>
                                            
                                        </div>
                                      
                                      
                                    </div>
                                </div>
                            </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight">5 Comments</div>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight">3 Shares</div>
                                    </div>
                                </div>
                            </div>
                            <div class="preview-comment">
                                <div class="row">
                                    <div class="col-12 item">
                                      <i class="far fa-heart mr-2" style="color: black;"></i>Like  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="far fa-comment-dots mr-2" style="color: black;"></i>Comment &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="fas fa-share mr-2" style="color: black;" ></i>Share
                                    </div>
                                    <div class="col item">
                                        <!-- <i class="fas fa-comments"></i> &nbsp;Comment -->
                                    </div>
                                    <div class="col item">
                                        <!-- <i class="fas fa-share" aria-hidden="true"></i> &nbsp;Share -->
                                    </div>
                                </div>
                            </div>
</div>
                        </div>

                        <div class="border rounded p-6 m-6">
                            <div class="preview-facebook preview-facebook-text item-post-type"
                            data-type="text" >
                            <div class="user-info">
                                <img class="img-circle" style="height: 44px; object-fit: cover; border-radius: 30px;"
                                    [src]="clubLogo">
                                <div class="text">
                                    <div class="name">Anonymus</div>
                                    <span> Just now 
                                        
                                    </span>
                                </div>
                            </div>
                            <div class="caption">
                                <div >Hey jerry how are you?</div>
                                <div class="line-no-text" ></div>
                                <div class="line-no-text" ></div>
                                <div class="line-no-text" ></div>
                            </div>
    
                            <div class="preview-club">
                                <div class="d-flex bd-highlight">
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight"> 
                                        <div class="row">
                                        <div class="col item">
                                            <div class=" symbol-group symbol-hover">
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_14.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_6.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/100_11.jpg"/>
                                                </div>
                                                <div class="symbol symbol-circle symbol-20 symbol-sm-2">
                                                    <img alt="Pic" src="../../../assets/media/users/300_17.jpg"/>
                                                </div>
                                                
                                              
                                                <span class="symbol-label">5 Likes</span>
                                            </div>
                                            
                                        </div>
                                      
                                      
                                    </div>
                                </div>
                            </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight">5 Comments</div>
                                    </div>
                                    <div class="p-2 flex-fill bd-highlight">
                                        <div class="p-2 bd-highlight">3 Shares</div>
                                    </div>
                                </div>
                            </div>
                             <div class="preview-comment">
                                <div class="row">
                                    <div class="col-12 item">
                                      <i class="far fa-heart mr-2" style="color: black;"></i>Like  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="far fa-comment-dots mr-2" style="color: black;"></i>Comment &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                      <i class="fas fa-share mr-2" style="color: black;" ></i>Share
                                    </div>
                                    <div class="col item">
                                        <!-- <i class="fas fa-comments"></i> &nbsp;Comment -->
                                    </div>
                                    <div class="col item">
                                        <!-- <i class="fas fa-share" aria-hidden="true"></i> &nbsp;Share -->
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                       
                    </mat-tab>
        
                    <mat-tab label="First">
                        <ng-template mat-tab-label>
                        <mat-icon><i class="fab fa-facebook-square icon-2x" style="color: #3b5998;"></i></mat-icon>
        
                    </ng-template>
                    Content 1
                    </mat-tab>
        
                    <mat-tab label="Second">
                        <ng-template mat-tab-label>
                            <mat-icon><i class="fab fa-instagram icon-2x" style="color: #d62976;"></i></mat-icon>
        
                        </ng-template>
                        Content 2
                    </mat-tab>
        
                  
                  </mat-tab-group>

            </div>
        </div>
        <!--end::Card-->
    </div>

</div>