




<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > D I V I D I S </p></ngx-spinner>
<div class="row">
     <div class="col-lg-3">
     
        <div class="card card-custom card-stretch">
            <div class="card-header" style="background-color: #1e1e2d;">
                <div class="card-title">
                    <h3 class="card-label">
                        <span class="svg-icon svg-icon-primary svg-icon-2x"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/>
                            </g>
                        </svg></span>
                      <span class="nav-text" style="color: #fff;"> &nbsp; Search</span>
                    
                    </h3>
                   </div>
            </div>
            <div class="card-body" style="padding: 0px;">
             
                
                 

                    
                </div>
                


            
        </div>
     

    
    </div> 
    



    <div class="col-lg-9">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header" style="background-color: #1e1e2d;">
                <div class="card-title">
                    <h3 class="card-label">
                        <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Media/Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"/>
                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"/>
                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"/>
                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"/>
                            </g>
                        </svg><!--end::Svg Icon--></span>
                      <span class="nav-text" style="color: #fff;"> &nbsp; All report</span>
                    
                    </h3>
                   </div>
            </div>
            <div class="card-body" >
                <div style="width: 50%; height: 50%; margin-left: 25%;">
                    <canvas baseChart 
                      [data]="pieChartData" 
                      [labels]="pieChartLabels" 
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [plugins]="pieChartPlugins"
                      [legend]="pieChartLegend"
                      [colors]="doughnutChartColors"
                      [options]="options"
                      
                      >
                    </canvas>
                  </div>
                  
                <!-- <app-chart></app-chart> -->
                <!-- <div id="chartdiv" style="width: 100%; height: 500px"></div> -->
            </div>
        </div>
        <!--end::Card-->

        <div class="row" style="background-color: white;">
            <div class="col-lg-4">
                <!--begin::Card-->
                <div>
                    
                    <div class="card-body">
                        <div>
                            <!--begin::Stats Widget 15-->
                            <a  class="card card-custom bg-success bg-hover-state-success card-stretch gutter-b">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-white svg-icon-3x ml-n1">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <div class="text-inverse-success font-weight-bolder font-size-h5 mb-2 mt-5">Sales Stats</div>
                                    <div class="font-weight-bold text-inverse-success font-size-sm">50% Increased for FY20</div>
                                </div>
                                <!--end::Body-->
                            </a>
                            <!--end::Stats Widget 15-->
                        </div>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <div class="col-lg-4">
                <!--begin::Card-->
                <div>
                    
                    <div class="card-body">
                        <div>
                            <!--begin::Stats Widget 15-->
                            <a  class="card card-custom bg-success bg-hover-state-success card-stretch gutter-b">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-white svg-icon-3x ml-n1">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                            </g>
                                        </svg>
                                    </span>
                                    <div class="text-inverse-success font-weight-bolder font-size-h5 mb-2 mt-5">Sales Stats</div>
                                    <div class="font-weight-bold text-inverse-success font-size-sm">50% Increased for FY20</div>
                                </div>
                                <!--end::Body-->
                            </a>
                            <!--end::Stats Widget 15-->
                        </div>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <div class="col-lg-4">
                <!--begin::Card-->
                <div>
                    
                    <div class="card-body">
                        <div>
                            <!--begin::Stats Widget 15-->
                            <a  class="card card-custom bg-success bg-hover-state-success card-stretch gutter-b">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <span class="svg-icon svg-icon-white svg-icon-3x ml-n1">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <div class="text-inverse-success font-weight-bolder font-size-h5 mb-2 mt-5">Sales Stats</div>
                                    <div class="font-weight-bold text-inverse-success font-size-sm">50% Increased for FY20</div>
                                </div>
                                <!--end::Body-->
                            </a>
                            <!--end::Stats Widget 15-->
                        </div>
                    </div>
                </div>
                <!--end::Card-->
            </div>
            
        </div>
   
   
   
   
    </div>
    
  
    
</div>











   