<app-spinner></app-spinner>
<div class="row">
    <div class="col-lg-3">
        <div class="card card-custom card-stretch">
            <div class="card-header" style="background-color: #1e1e2d;">
                <div class="card-title">
                    <h3 class="card-label">
                        <span class="svg-icon svg-icon-primary svg-icon-2x">
                            <img src="../../../assets/media/custom/timer.svg"/>
                        </span>
                        <span class="nav-text text-white"> &nbsp; Activity log</span>
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <div class="container d-flex justify-content-center "
                    style="border-bottom: 1px solid lightgrey; padding-bottom: 25px">
                    <i class="fa fa-genderless text-success icon-md mr-2 ml-2"></i> Succeed
                    <i class="fa fa-genderless text-danger icon-md mr-2 ml-2"></i> Failed
                    <i class="fa fa-genderless text-info icon-md mr-2 ml-2"></i> pending
                </div>

                <div class="card-scroll custom-scrollbar-css padd">
                    <div class="card-body pt-4">
                        <ng-container *ngFor="let report of latestReports">
                            <div class="timeline timeline-6 mt-3">
                                <div class="timeline-item align-items-start">
                                    <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                                        {{report.time}}</div>
                                    <div class="timeline-badge">
                                        <i *ngIf="report.successStatus == 0" class="fa fa-genderless text-danger icon-xl"></i>

                                        <i *ngIf="report.successStatus == 1" class="fa fa-genderless text-success icon-xl"></i>

                                        <i *ngIf="report.successStatus == 2" class="fa fa-genderless text-info icon-xl"></i>
                                    </div>
                                    <div *ngIf="report.successStatus == 0"
                                        class="font-weight-mormal font-size-lg timeline-content text-bold pl-5">
                                        Your<strong> {{report.postedTo}} </strong>post was <span
                                            class="text-danger font-weight-bolder">failed</span> </div>
                                    <div *ngIf="report.successStatus == 1"
                                        class="font-weight-mormal font-size-lg timeline-content text-bold pl-5">
                                        Your<strong> {{report.postedTo}} </strong>post was <span
                                            class="text-success font-weight-bolder">succeed</span> </div>
                                    <div *ngIf="report.successStatus == 2"
                                        class="font-weight-mormal font-size-lg timeline-content text-bold pl-5">
                                        Your<strong> {{report.postedTo}} </strong>post was <span
                                            class="text-info font-weight-bolder">pending</span></div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>


            <!--App tour modal-->
            <div class="example-preview ">
                <ng-template #appTour let-c="close" let-d="dismiss">
                    <div class="modal-header d-flex justify-content-center" style="background-color: #1e1e2d;">
                        <h4 class="modal-title text-white">Take a tour</h4>
                        <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')">
                            <i class="ki ki-bold-close icon-sm" style="color:rgba(255, 255, 255, 0.877)"></i>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body justify-content-center text-center d-inline">
                        <a class="text-center">
                            <img src="./assets/media/bg/setup.png" style="width: 18rem" alt="" />
                        </a>
                        <h1 class="justify-content-center">Welcome!</h1>
                        <h3 class="justify-content-center">We're glad you're here.</h3>
                        <p class="justify-content-center">To get a feel take our guided tour where we'll get you
                            setup and show you how to start publishing your social posts.</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button (click)="openJoyRide(); c('Close click')" type="button"
                            class="btn btn-secondary m-1">Take a tour</button>
                        <button type="button" class="btn btn-secondary m-1" (click)="c('Close click')">Skip</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card card-custom bgi-no-repeat card-stretch "
            style="background-position: right top; background-size: 30% auto; background-image: url(assets/media/svg/shapes/abstract-2.svg)">
            <div class="row">
                <div class="col-xl-4 col-xs-3">
                    <a class="card card-custom bgi-no-repeat card-stretch gutter-b"
                        style=" background-color: #3B5998 !important;">
                        <div class="card-body">
                            <i class="socicon-facebook mr-5 icon-lg text-white"></i>
                            <div class="text-white font-weight-bolder font-size-h5 mb-2 mt-5">Facebook</div>
                            <button class="btn btn-light-primary mr-2">Total <span class="label pulse pulse-primary">
                                    <span *ngIf="facebookStats"
                                        class="font-weight-bolder">{{facebookStats.total}}</span>
                                    <span class="pulse-ring"></span>
                                </span>
                            </button>
                            <button class="btn  btn-light-success mr-2">Succeed <span class="label pulse pulse-success">
                                    <span *ngIf="facebookStats"
                                        class="font-weight-bolder">{{facebookStats.succeeded}}</span>
                                    <span class="pulse-ring"></span>
                                </span>
                            </button>
                            <button class="btn  btn-light-danger mr-2">Failed <span class="label pulse pulse-danger">
                                    <span *ngIf="facebookStats"
                                        class="font-weight-bolder">{{facebookStats.failed}}</span>
                                    <span class="pulse-ring"></span>
                                </span>
                            </button>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-xs-3">
                    <a class="card card-custom bgi-no-repeat card-stretch gutter-b"
                        style=" background-color: #D62976 !important;">
                        <div class="card-body">
                            <i class="socicon-instagram mr-5 icon-lg text-white"></i>
                            <div class="text-white font-weight-bolder font-size-h5 mb-2 mt-5">Instagram</div>
                            <button class="btn btn-light-primary mr-2">Total <span class="label pulse pulse-primary">
                                    <span *ngIf="instagramStats"
                                        class="font-weight-bolder">{{instagramStats.total}}</span>
                                    <span class="pulse-ring"></span>
                                </span>
                            </button>
                            <button class="btn btn-light-success mr-2">Succeed <span class="label pulse pulse-success ">
                                    <span *ngIf="instagramStats"
                                        class="font-weight-bolder">{{instagramStats.succeeded}}</span>
                                    <span class="pulse-ring"></span>
                                </span>
                            </button>
                            <button class="btn btn-light-danger mr-2">Failed <span class="label pulse pulse-danger ">
                                    <span *ngIf="instagramStats"
                                        class="font-weight-bolder">{{instagramStats.failed}}</span>
                                    <span class="pulse-ring"></span>
                                </span>
                            </button>
                        </div>
                    </a>
                </div>
                <div class="col-xl-4 col-xs-3">
                    <a class="card card-custom bgi-no-repeat card-stretch gutter-b"
                        [ngStyle]="{'background-color': clubPrimaryColor}">
                        <div class="card-body">
                            <i class="svg-icon menu-icon icon-lg"><span><img class="rounded"
                                style="height: auto; width: 29px; " [src]="(selectedClub$ | async)?.logoURL"></span></i>
                            <div class="text-white font-weight-bolder font-size-h5 mb-2 mt-5">
                                {{(selectedClub$ | async)?.clubName}}</div>
                            <button class="btn btn-light-primary mr-2">Total <span class="label pulse pulse-primary">
                                    <span *ngIf="clubStats" class="font-weight-bolder">{{clubStats?.total}}</span>
                                    <span class="pulse-ring"></span>
                                </span>
                            </button>
                            <button class="btn btn-light-success mr-2">Succeed <span class="label pulse pulse-success">
                                    <span *ngIf="clubStats" class="font-weight-bolder">{{clubStats?.succeeded}}</span>
                                    <span class="pulse-ring"></span>
                                </span>
                            </button>
                            <button class="btn btn-light-danger mr-2">Failed <span class="label pulse pulse-danger">
                                    <span *ngIf="clubStats" class="font-weight-bolder">{{clubStats?.failed}}</span>
                                    <span class="pulse-ring"></span>
                                </span>
                            </button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div id="chart">
                    <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart" [xaxis]="chartOptions?.xaxis"
                        [stroke]="chartOptions?.stroke" [tooltip]="chartOptions?.tooltip"
                        [dataLabels]="chartOptions?.dataLabels" [legend]="chartOptions?.legend"
                        [markers]="chartOptions?.markers" [grid]="chartOptions?.grid" [yaxis]="chartOptions?.yaxis"
                        [title]="chartOptions?.title"></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>