




<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > D I V I D I S </p></ngx-spinner>
<div class="row">
     <div class="col-lg-3">
     
        <div class="card card-custom card-stretch">
            <div class="card-header" style="background-color: #1e1e2d;">
                <div class="card-title">
                    <h3 class="card-label">
                        <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Home/Timer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z" fill="#000000" opacity="0.3"/>
                                <path d="M13,5.06189375 C12.6724058,5.02104333 12.3386603,5 12,5 C11.6613397,5 11.3275942,5.02104333 11,5.06189375 L11,4 L10,4 C9.44771525,4 9,3.55228475 9,3 C9,2.44771525 9.44771525,2 10,2 L14,2 C14.5522847,2 15,2.44771525 15,3 C15,3.55228475 14.5522847,4 14,4 L13,4 L13,5.06189375 Z" fill="#000000"/>
                                <path d="M16.7099142,6.53272645 L17.5355339,5.70710678 C17.9260582,5.31658249 18.5592232,5.31658249 18.9497475,5.70710678 C19.3402718,6.09763107 19.3402718,6.73079605 18.9497475,7.12132034 L18.1671361,7.90393167 C17.7407802,7.38854954 17.251061,6.92750259 16.7099142,6.53272645 Z" fill="#000000"/>
                                <path d="M11.9630156,7.5 L12.0369844,7.5 C12.2982526,7.5 12.5154733,7.70115317 12.5355117,7.96165175 L12.9585886,13.4616518 C12.9797677,13.7369807 12.7737386,13.9773481 12.4984096,13.9985272 C12.4856504,13.9995087 12.4728582,14 12.4600614,14 L11.5399386,14 C11.2637963,14 11.0399386,13.7761424 11.0399386,13.5 C11.0399386,13.4872031 11.0404299,13.4744109 11.0414114,13.4616518 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" fill="#000000"/>
                            </g>
                        </svg><!--end::Svg Icon--></span>
                      <span class="nav-text" style="color: #fff;"> &nbsp; Activity Log</span>
                    
                    </h3>
                   </div>
            </div>
            <div class="card-body" style="padding: 0px;">
                <div class="card-scroll custom-scrollbar-css p-2" style="height: 660px;">
                    <!--begin::Header-->
                    
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-4">
                       <!--begin::Timeline-->
                       <ng-container *ngFor="let report of latestReports" >
                       <div class="timeline timeline-6 mt-3">
                          <!--begin::Item-->
                          <div class="timeline-item align-items-start">
                             <!--begin::Label-->
                             <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">{{report.time}}</div>
                             <!--end::Label-->
                             <!--begin::Badge-->
                             <div class="timeline-badge">
                                <i *ngIf="report.successStatus == 0" class="fa fa-genderless text-danger icon-xl"></i>

                                <i *ngIf="report.successStatus == 1" class="fa fa-genderless text-success icon-xl"></i>

                                <i *ngIf="report.successStatus == 2" class="fa fa-genderless text-warning icon-xl"></i>

                             </div>
                             <!--end::Badge-->
                             <!--begin::Text-->
                             <div class="font-weight-mormal font-size-lg timeline-content text-muted pl-3">Posted To :  {{report.postedTo}}</div>
                             <!-- <p *ngIf="report.Successtatus == 0">Failed</p>
                             <p *ngIf="report.Successtatus == 1">Success</p>
                             <p *ngIf="report.Successtatus == 2">Pending</p> -->
                             
                             <!--end::Text-->
                          </div>
                          <!--end::Item-->
                          <!--begin::Item-->
                         
                          <!--end::Item-->
                       </div>
                    </ng-container>
                       <!--end::Timeline-->
                    </div>
                    <!--end: Card Body-->
                 </div>
                 

                    
                </div>
                


            
        </div>
     

    
    </div> 
    



    <div class="col-lg-9">
        <!--begin::Card-->
        <div  class="card card-custom bgi-no-repeat card-stretch gutter-b" style="background-position: right top; background-size: 30% auto; background-image: url(assets/media/svg/shapes/abstract-2.svg)">
            <div class="card-header" style="background-color: #1e1e2d;">
                <div class="card-title">
                    <h3 class="card-label">
                        <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Media/Equalizer.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"/>
                                <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"/>
                                <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"/>
                                <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"/>
                            </g>
                        </svg><!--end::Svg Icon--></span>
                      <span class="nav-text" style="color: #fff;"> &nbsp; All report</span>
                    
                    </h3>
                    
                   </div>
            </div>
            <div class="card-body" >
            
                <div id="chart" >
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [xaxis]="chartOptions.xaxis"
                      [stroke]="chartOptions.stroke"
                      [tooltip]="chartOptions.tooltip"
                      [dataLabels]="chartOptions.dataLabels"
                      [legend]="chartOptions.legend"
                      [markers]="chartOptions.markers"
                      [grid]="chartOptions.grid"
                      [yaxis]="chartOptions.yaxis"
                      [title]="chartOptions.title"
                    ></apx-chart>
                  </div>
                  
                  
               
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <!--begin::Stats Widget 13-->
                    <a  class="card card-custom bgi-no-repeat card-stretch gutter-b" style=" background-color: #3B5998 !important;" >
                        <!--begin::Body-->
                        <div class="card-body">
                            <i class="socicon-facebook mr-5 icon-lg" style="color: white"></i>
                            <div class="text-inverse-danger font-weight-bolder font-size-h5 mb-2 mt-5">Facebook</div>
                            <button class="btn font-weight-bold btn-light-primary mr-2">Total<span class="label pulse pulse-primary ml-3" >
                                <span *ngIf="facebookStats"   class="position-relative font-size-h6 font-weight-bolder">{{facebookStats.total}}</span>
                                <span class="pulse-ring"></span>
                            </span></button><br><br>
                            <button class="btn font-weight-bold btn-light-success mr-5">Succecced<span class="label pulse pulse-success ml-3" >
                                <span *ngIf="facebookStats"  class="position-relative font-size-h6 font-weight-bolder">{{facebookStats.succeeded}}</span>
                                <span class="pulse-ring"></span>
                            </span></button>
                            <button class="btn font-weight-bold btn-light-danger mr-2">Failed<span class="label pulse pulse-danger ml-3" >
                                <span *ngIf="facebookStats" class="position-relative font-size-h6 font-weight-bolder">{{facebookStats.failed}}</span>
                                
                                <span class="pulse-ring"></span>
                            </span></button>
                            
                  
                        </div>
                        <!--end::Body-->
                    </a>
                    <!--end::Stats Widget 13-->
                </div>
                <div class="col-xl-4">
                    <!--begin::Stats Widget 14-->
                    <a class="card card-custom bgi-no-repeat card-stretch gutter-b" style=" background-color: #D62976 !important;">
                        <!--begin::Body-->
                        <div class="card-body">
                            <i class="socicon-instagram mr-5 icon-lg" style="color: white"></i>
                            <div class="text-inverse-danger font-weight-bolder font-size-h5 mb-2 mt-5">Instagram</div>
                            <button class="btn font-weight-bold btn-light-primary mr-2">Total<span class="label pulse pulse-primary ml-3" >
                                <span *ngIf="instagramStats" class="position-relative font-size-h6 font-weight-bolder">{{instagramStats.total}}</span>
                                <span class="pulse-ring"></span>
                            </span></button><br><br>
                            <button class="btn font-weight-bold btn-light-success mr-5">Succecced<span class="label pulse pulse-success ml-3" >
                                <span *ngIf="instagramStats"  class="position-relative font-size-h6 font-weight-bolder">{{instagramStats.succeeded}}</span>
                                <span class="pulse-ring"></span>
                            </span></button>
                            <button class="btn font-weight-bold btn-light-danger mr-2">Failed<span class="label pulse pulse-danger ml-3" >
                                <span *ngIf="instagramStats" class="position-relative font-size-h6 font-weight-bolder">{{instagramStats.failed}}</span>
                                <span class="pulse-ring"></span>
                            </span></button>
                            
                  
                        </div>
                        <!--end::Body-->
                    </a>
                    <!--end::Stats Widget 14-->
                </div>
                <div class="col-xl-4">
                    <!--begin::Stats Widget 15-->
                    <a class="card card-custom bgi-no-repeat card-stretch gutter-b" style=" background-color: #FBAD50 !important;">
                        <!--begin::Body-->
                        <div class="card-body">
                            <i class="socicon-telegram mr-5 icon-lg" style="color: white"></i>
                            <div class="text-inverse-danger font-weight-bolder font-size-h5 mb-2 mt-5">TeamTalker</div>
                            <button class="btn font-weight-bold btn-light-primary mr-2">Total<span class="label pulse pulse-primary ml-3" >
                                <span *ngIf="clubStats" class="position-relative font-size-h6 font-weight-bolder">{{clubStats.total}}</span>
                                <span class="pulse-ring"></span>
                            </span></button><br><br>
                            <button class="btn font-weight-bold btn-light-success mr-5">Succecced<span class="label pulse pulse-success ml-3" >
                                <span *ngIf="clubStats"  class="position-relative font-size-h6 font-weight-bolder">{{clubStats.succeeded}}</span>
                                <span class="pulse-ring"></span>
                            </span></button>
                            <button class="btn font-weight-bold btn-light-danger mr-2">Failed<span class="label pulse pulse-danger ml-3" >
                                <span *ngIf="clubStats"  class="position-relative font-size-h6 font-weight-bolder">{{clubStats.failed}}</span>
                                <span class="pulse-ring"></span>
                            </span></button>
                            
                  
                        </div>
                        <!--end::Body-->
                    </a>
                    <!--end::Stats Widget 15-->
                </div>
            </div>
        </div>
        <!--end::Card-->

       
   
   
   
   
    </div>
    
  
    
</div>











   