<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <a routerLink="/pages/dashboard" class="brand-logo">
    <img class="divi" alt="Logo" [attr.src]="headerLogo" style="width: 150px !important;" />
  </a>
  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        " cacheSVG="true" class="svg-icon svg-icon-xl"></span>
    </button>
  </ng-container>
</div>


<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" />
    </a>

    
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div id="kt_aside_menu" class="aside-menu" [ngClass]="asideMenuCSSClasses" data-menu-vertical="1"
    [attr.data-menu-scroll]="asideMenuScroll" [attr.data-menu-dropdown]="asideMenuDropdown"
    data-menu-dropdown-timeout="500">
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">
      <!-- begin::1 Level -->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/pages/dashboard" routerLinkActive="active" joyrideStep="firstStep" title="Dashboard" text="Monitor your social media performance." >
          <i class="svg-icon menu-icon fas fa-chalkboard text-success icon-lg mr-5"></i>
          <span class="menu-text" translate="MENU.DASHBOARD"></span>
        </a>
      </li>
      <!-- end::1 Level -->

      <!--PUBLISH ALL-->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active"
        style="border-bottom: 1px solid rgba(163, 175, 183, 0.219);">
        <a class="menu-link" routerLink="/pages/publish-all" routerLinkActive="active" joyrideStep="secondStep" title="Create Content" text="Easily create,  schedule and publish content that connects with all your audiences from a single dashboard.">
          <i class="svg-icon menu-icon text-danger fab fa-telegram-plane icon-lg mr-5"></i>
          <span class="menu-text">Create Content</span>
        </a>
      </li>


      <!--FACEBOOK-->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a  class="menu-link" routerLink="/pages/facebook/" routerLinkActive="active" joyrideStep="thirdStep" title="Facebook Pages" text="Easily create,  schedule and publish content for your Facebook Pages.">
          <i class="svg-icon menu-icon socicon-facebook icon-lg mr-5" style="color:rgb(0, 153, 255)"></i>
          <span class="menu-text">Facebook</span>
        </a>
        <!-- <a *ngIf="!socialFlag" class="menu-link" routerLink="/pages/comming-soon-fb/" routerLinkActive="active">
          <i class="svg-icon menu-icon socicon-facebook icon-lg mr-5" style="color:rgb(0, 153, 255)"></i>
          <span class="menu-text">Facebook</span>
        </a> -->
      </li>


      <!--INSTAGRAM-->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a  class="menu-link" routerLink="/pages/instagram/" routerLinkActive="active" joyrideStep="fourthStep" title="Instagram Profiles" text="Easily create,  schedule and publish content for your Instagram Profiles.">
          <i class="svg-icon menu-icon socicon-instagram icon-lg mr-5" style="color: #d62976"></i>
          <span class="menu-text">Instagram</span>
        </a>
      </li>


      <!--Club-->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active"
        style="border-bottom: 1px solid rgba(163, 175, 183, 0.219);">
        <a class="menu-link" routerLink="/pages/team-talkers" routerLinkActive="active" joyrideStep="fifthStep" title={{selectedClub.clubName}} text="Easily create,  schedule and publish content for your Club.">
          <img class="club-logo mr-7 rounded" [src]="selectedClub.logoURL" alt="">
          <!-- <i class="svg-icon menu-icon icon-xs mr-6" style="color: white; margin-left: -5px"><span ><img class="rounded" style="height: 95%; width: 95%; " [src]="clubLogo" alt=""></span></i> -->
          <span class="menu-text">{{selectedClub.clubName}}</span>
        </a>
      </li>


      <!--Advertisement-->
      <li *ngIf="sponsorPanelExists" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" (click)="routeToSponsorPanel()" routerLinkActive="active" joyrideStep="sixthStep" title="Ads" text="Handle your advertisement panel.">
          <!-- <i class="fas fa-ad icon-xl mr-9" style="color: #82AA36; margin-top: 2px;" ></i> -->
          <img class="club-logo mr-7 rounded" src="../../../../../assets/media/bg/block.png" alt="">
          <span class="menu-text">A<span>d</span><span>ver</span> <span>ti</span> <span>se</span> <span>ment</span>
          </span>
        </a>
      </li>
      
      <!--Schedule-->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/pages/schedule" routerLinkActive="active" joyrideStep="seventhStep" title="Schedule" text="Easily schedule content for your social platforms.">
          <i class="ki ki-calendar-2 icon-lg mr-10" style="color: #A7CDE5"></i>
          <span class="menu-text">Schedules</span>
        </a>
      </li>

      <!--Account Manager-->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/pages/account-manager" routerLinkActive="active" joyrideStep="eighthStep" title="Account Manager" text="Manage your facebook and instagram profiles.">
          <i class="svg-icon menu-icon far fa-user-circle icon-lg mr-5" style="color: #8692d3"></i>
          <span class="menu-text">Account Manager</span>
        </a>
      </li>

      <!--UserManager-->
      <li *ngIf="userMgt" class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" style="border-bottom: 1px solid rgba(163, 175, 183, 0.219);">
        <a class="menu-link" routerLink="/pages/user-management" routerLinkActive="active" joyrideStep="ninthStep" title="User Management" text="Manage users and their roles.">
          <i class="svg-icon menu-icon fas fa-users icon-lg mr-5" style="color: #f5ec6b"></i>
          <span class="menu-text">User Management</span>
        </a>
      </li>

      <!--Reported Post-->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active" style="border-bottom: 1px solid rgba(163, 175, 183, 0.219);">
        <a class="menu-link" routerLink="/pages/reported-posts" routerLinkActive="active" joyrideStep="tenthStep" title="Reported Posts" text="Manage reported posts.">
          <i class="svg-icon menu-icon fas fa-bullhorn icon-lg mr-5" style="color: #e73737"></i>
          <span class="menu-text">Reported Posts</span>
        </a>
      </li>

      <!--Support-->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active">
        <a class="menu-link" routerLink="/pages/feedback" routerLinkActive="active" joyrideStep="eleventhStep" title="Feedback" text="Where you can let us know how we can improve your experience.">
          <i class="svg-icon menu-icon fas fa-question-circle icon-lg mr-5" style="color: #74afff"></i>
          <span class="menu-text">Support</span>
        </a>
      </li>
      
      
      <!--Signout-->
      <li class="menu-item" aria-haspopup="true" routerLinkActive="menu-item-active"
        (click)="openVerticallyCentered(content)">
        <a class="menu-link" joyrideStep="twelevethStep" title="Sign Out" text="You can sign out from your desktop.">
          <i class="svg-icon menu-icon fas fa-sign-out-alt icon-lg mr-5" style="color: #84b9b2"></i>
          <span class="menu-text">Sign Out</span>
        </a>
      </li>
    </ul>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>

<div class="example-preview ">
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center" style="background-color: #1e1e2d;">
      <h4 class="modal-title" style="color: #fff;">Log out</h4>
      <button type="button" class="close ml-auto" aria-label="Close" (click)="d('Cross click')"> <i
          class="ki ki-bold-close icon-sm" style="color:rgba(255, 255, 255, 0.877)"></i>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body d-flex justify-content-center">
      <div class="d-flex align-items-center mt-5">
        <div class="symbol symbol-100 mr-5">
          <img class="symbol-label" [src]="profileImageUrl" style="object-fit: cover;" alt="">
          <i class="symbol-badge bg-success"></i>
        </div>
        <div class="d-flex flex-column">
          <a class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">{{userNameLogout}}</a>
          <div class="text-muted mt-1">Admin</div>
          <div class="navi mt-2">
            <a class="btn btn-sm btn-light-danger font-weight-bolder py-2 px-5"
              (click)="logout() ; c('Close click')">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
    </div>
  </ng-template>
</div>
<!--end::Aside Menu-->